# Directories
.vs/
.codelite/
/bin/
bin/
bin-int/
**/bin/
**/bin-int/


# Files
*.user

# Triger files
*.log

# Makefiles
Makefile
**/Makefile

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# CodeLite files and folder
.codelite/
**.workspace
**.project
**.mk
**compile_flags.txt
tags